.sharer-buttons-toolbar {
    width: 100%;
    margin: 1.2rem 0;

    @media only screen and (max-width: 765px) {
        margin: 10px 0;
    }

    @media only screen and (max-width: 350px) {
        text-align: center;
    }
}