$sharer-buttons: (
    facebook: #3b5998,
    twitter: #1da1f2,
    linkedin: #0077b5,
    pinterest: #cb2027,
    reddit: #ff4500,
    whatsapp: #25d366,
    pocket: #ef4056,
    xing: #026466,
    flipboard: #c00,
    telegram: #0088cc,
    email: #333,
    line: #00c300,
    tumblr: #35465c,
) !default;