button[class^="sharer-circles--"] {
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 1px solid #111;
    background: transparent;
  	display: inline-block;
  	margin: 0 5px 8px;
  	border-radius: 50%;
  	font-size: 28px;
  	color: #111;
    overflow: hidden;
    transition: color 0.4s ease-in-out;

    .sharer-icon {
        margin-top: 0 auto;
        display: inline-block;
        vertical-align: baseline;
        z-index: 1;

        svg {
            margin-top: -3.5px;
        }

        @media only screen and (min-width: 768px) {
            margin-left: 2px;
        }
    }

    .sharer-label {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background-color: #111;
        transform-origin: center;
        transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
        transition: all 0.3s ease-in-out;
    }
    
    &:hover {
        cursor: pointer;
        color: #fff;
        svg path {
            fill: #fff;
        }
    }

    &:hover:before {
        z-index: -1;
        transform: translate3d(-50%, -50%, 0) scale3d(5, 5, 5);
    }
}

@include sharer-template('circles');