button.sharer-button-circles {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 1px solid #111;
  background: transparent;
  display: inline-block;
  margin: 0 5px 8px;
  border-radius: 50%;
  font-size: 30px;
  color: #111;
  overflow: hidden;
  transition: color 0.4s ease-in-out; }
  button.sharer-button-circles .sharer-icon {
    margin: 0;
    display: inline;
    vertical-align: baseline;
    line-height: 1.2; }
    button.sharer-button-circles .sharer-icon i, button.sharer-button-circles .sharer-icon svg path {
      z-index: 10; }
    button.sharer-button-circles .sharer-icon svg {
      margin-top: -4px; }
  button.sharer-button-circles .sharer-label {
    display: none;
    visibility: hidden; }
  @media only screen and (min-width: 768px) {
    button.sharer-button-circles .sharer-icon {
      margin-left: 2px; } }
  button.sharer-button-circles::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #111;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.3s ease-in-out; }
  button.sharer-button-circles:hover {
    cursor: pointer;
    color: #fff; }
    button.sharer-button-circles:hover svg path {
      fill: #fff; }
  button.sharer-button-circles:hover::before {
    z-index: -1;
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15); }

.sharer-button-circles.facebook {
  color: #3b5998;
  border-color: #3b5998; }
  .sharer-button-circles.facebook svg path {
    fill: #3b5998; }
  .sharer-button-circles.facebook::before {
    background-color: #3b5998; }

.sharer-button-circles.twitter {
  color: #1da1f2;
  border-color: #1da1f2; }
  .sharer-button-circles.twitter svg path {
    fill: #1da1f2; }
  .sharer-button-circles.twitter::before {
    background-color: #1da1f2; }

.sharer-button-circles.linkedin {
  color: #0077b5;
  border-color: #0077b5; }
  .sharer-button-circles.linkedin svg path {
    fill: #0077b5; }
  .sharer-button-circles.linkedin::before {
    background-color: #0077b5; }

.sharer-button-circles.pinterest {
  color: #cb2027;
  border-color: #cb2027; }
  .sharer-button-circles.pinterest svg path {
    fill: #cb2027; }
  .sharer-button-circles.pinterest::before {
    background-color: #cb2027; }

.sharer-button-circles.reddit {
  color: #ff4500;
  border-color: #ff4500; }
  .sharer-button-circles.reddit svg path {
    fill: #ff4500; }
  .sharer-button-circles.reddit::before {
    background-color: #ff4500; }

.sharer-button-circles.whatsapp {
  color: #25d366;
  border-color: #25d366; }
  .sharer-button-circles.whatsapp svg path {
    fill: #25d366; }
  .sharer-button-circles.whatsapp::before {
    background-color: #25d366; }

.sharer-button-circles.pocket {
  color: #ef4056;
  border-color: #ef4056; }
  .sharer-button-circles.pocket svg path {
    fill: #ef4056; }
  .sharer-button-circles.pocket::before {
    background-color: #ef4056; }

.sharer-button-circles.xing {
  color: #026466;
  border-color: #026466; }
  .sharer-button-circles.xing svg path {
    fill: #026466; }
  .sharer-button-circles.xing::before {
    background-color: #026466; }

.sharer-button-circles.flipboard {
  color: #c00;
  border-color: #c00; }
  .sharer-button-circles.flipboard svg path {
    fill: #c00; }
  .sharer-button-circles.flipboard::before {
    background-color: #c00; }

.sharer-button-circles.telegram {
  color: #0088cc;
  border-color: #0088cc; }
  .sharer-button-circles.telegram svg path {
    fill: #0088cc; }
  .sharer-button-circles.telegram::before {
    background-color: #0088cc; }

.sharer-button-circles.email {
  color: #333;
  border-color: #333; }
  .sharer-button-circles.email svg path {
    fill: #333; }
  .sharer-button-circles.email::before {
    background-color: #333; }

.sharer-button-circles.line {
  color: #00c300;
  border-color: #00c300; }
  .sharer-button-circles.line svg path {
    fill: #00c300; }
  .sharer-button-circles.line::before {
    background-color: #00c300; }

.sharer-button-circles.tumblr {
  color: #35465c;
  border-color: #35465c; }
  .sharer-button-circles.tumblr svg path {
    fill: #35465c; }
  .sharer-button-circles.tumblr::before {
    background-color: #35465c; }

button.sharer-button-rounded {
  display: inline-block;
  padding: 4px 10px;
  border: 1px solid transparent;
  margin: 0 auto 8px;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  opacity: .89;
  transition: opacity 0.15s linear; }
  button.sharer-button-rounded .sharer-icon svg path {
    fill: #fff; }
  button.sharer-button-rounded .sharer-label {
    vertical-align: middle; }
  button.sharer-button-rounded:hover {
    opacity: 1; }

.sharer-button-rounded.facebook {
  background: #3b5998; }

.sharer-button-rounded.twitter {
  background: #1da1f2; }

.sharer-button-rounded.linkedin {
  background: #0077b5; }

.sharer-button-rounded.pinterest {
  background: #cb2027; }

.sharer-button-rounded.reddit {
  background: #ff4500; }

.sharer-button-rounded.whatsapp {
  background: #25d366; }

.sharer-button-rounded.pocket {
  background: #ef4056; }

.sharer-button-rounded.xing {
  background: #026466; }

.sharer-button-rounded.flipboard {
  background: #c00; }

.sharer-button-rounded.telegram {
  background: #0088cc; }

.sharer-button-rounded.email {
  background: #333; }

.sharer-button-rounded.line {
  background: #00c300; }

.sharer-button-rounded.tumblr {
  background: #35465c; }

.sharer-buttons-toolbar {
  width: 100%;
  margin: 15px auto; }
  @media only screen and (max-width: 765px) {
    .sharer-buttons-toolbar {
      margin: 10px auto 0; } }
  @media only screen and (max-width: 325px) {
    .sharer-buttons-toolbar {
      text-align: center; } }
  @media only screen and (max-width: 220px) {
    .sharer-buttons-toolbar {
      text-align: left !important; } }

/*# sourceMappingURL=sharer.css.map */
