{% extends 'partials/sharer_templates/base.html.twig' %}

{% block sharer_label %}
    <div class="hover"><span></span><span></span><span></span><span></span><span></span></div>
    <span class="sharer-label">{{ values.label }}</span>
{% endblock %}