button.sharer-button-circles {
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 1px solid #111;
    background: transparent;
  	display: inline-block;
  	margin: 0 5px 8px;
  	border-radius: 50%;
  	font-size: 30px;
  	color: #111;
    overflow: hidden;
    transition: color 0.4s ease-in-out;

    .sharer-icon {
        margin: 0;
        display: inline;
        vertical-align: baseline;
        line-height: 1.2;
        
        i,svg path {
            z-index: 10;
        }

        svg {
            margin-top: -4px;
        }
    }

    .sharer-label {
        display: none;
        visibility: hidden;
    }

    @media only screen and (min-width: 768px) {
        .sharer-icon {
            margin-left: 2px;
        }
    }

    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #111;
        transform-origin: center;
        transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
        transition: transform 0.3s ease-in-out;
    }
    
    &:hover {
        cursor: pointer;
        color: #fff;
        svg path {
            fill: #fff;
        }
    }

    &:hover::before {
        z-index: -1;
        transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
    }
}

@each $color, $value in $colors {
    .sharer-button-circles.#{$color} {
        color: $value;
        border-color: $value;
        svg path {
            fill: $value;
        }
        &::before {
            background-color: $value;
        }
    }
}